[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
nltk = ">=3.6.4"
lxml = "lxml = ">=4.6.5"
strsim = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.7"
